@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
   --cor1:white;
   --cor2:rgb(170, 173, 174);
   --cor3:rgb(90, 89, 89);
   --cor4:rgb(51, 140, 241);
   --cor5:rgb(0,0,0);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.conteudo > img{
    width: 55px;
    padding-left: 10px;
}

.navbar{
    background-color: var(--cor1);
    height: 5rem;
    display: flex;
}

.conteudo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
    height: 80px;
    width: 400px;
}
.conteudo > a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--cor2);
}

#training{
    color: black;
}

.conteudo > a:hover{
    color: var(--cor3);
}

img{
    border-radius: 3%;
}

.containerpai{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 900px;
    width: 1200px;
    
    background-color: antiquewhite;
    
}
.imgnike{
    width: 700px;
}

.content{
    display: flex;
}
.conteudonike > h1 {
    font-size: 1.8rem;
}
.conteudonike > .estrelafull{
    font-size: 1.7rem;
    color: var(--cor4);
    

}
.estrelaincompleta{
    font-size: 1.7rem;
    color: var(--cor2);
}
.conteudonike > .review-content{
    font-size: 1.2rem;
}
.conteudoimg{
    position: relative;
}
.pimg{
    margin-top: 1rem;
    margin-left: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45px;
    width: 130px;
    background-color: var(--cor1);
    border-radius: 2rem;
}