@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
   --cor1:white;
   --cor2:rgb(170, 173, 174);
   --cor3:rgb(90, 89, 89);
   --cor4:rgb(51, 140, 241);
   --cor5:rgb(0,0,0);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.conteudo > img{
    width: 55px;
    padding-left: 10px;
}

.navbar{
    background-color: var(--cor1);
    height: 5rem;
    display: flex;
}


.conteudo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
    height: 80px;
    width: 400px;
}
.conteudo > a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--cor2);
}

#training{
    color: black;
}

.conteudo > a:hover{
    color: var(--cor3);
}

img{
    border-radius: 3%;
}

.containerpai{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 900px;
    width: 1400px;
}
.imgnike{
    width: 700px;
}
.content{
    display: flex;
    gap: 15px;
}

.conteudonike > h1 {
    font-size: 1.8rem;
}
.svgstar{
    height: 15px;
    width: 20px;
}

.conteudonike > .review-content{
    font-size: 1rem;
    color: var(--cor2);
}
.dolar{
    font-size: 1.2rem;
    font-weight: 600;
}
.bio{
    color: var(--cor3);
    letter-spacing: 1.2px;
    font-weight: 500;
}
.conteudobio{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.conteudoimg{
    position: relative;
}
.pimg{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 38px;
    width: 110px;
    background-color:var(--cor1) ;
    border-radius: 2rem;
    border: solid 1px rgba(0, 0, 0, 0.116);
    color: var(--cor3); 
}

.button1,.button2,.button3{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: white;
}
.button1{
    background-color:var(--cor2);
    border: solid 2px var(--cor4);
}
/*---arrumar e colocar id tbm*/

.button2{
    background-color: var(--cor1);
    border: solid 1px rgba(0, 0, 0, 0.096);
}
.button3{
    background-color: var(--cor5);
}
.shipping{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.shipping > p{
    color: var(--cor3);
}
.buttonssize{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.botoes{
    margin-top: 10px;
    height: 35px;
    width: 45px;
    border-radius: 25%;
    border: none;
    color: var(--cor3);
    font-weight: 600;

}
.botoes:active{
    background-color: var(--cor4);
    color: var(--cor1);
    

}
.linkguide{
 display: flex;
 align-items: center;
 padding-top: 10px;   
}
.linkguide > a{
    text-decoration: none;
    color: var(--cor3);
}
.conteudos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
.links{
    text-decoration: none;
    color: var(--cor2);
}
.buttoncard{
    width: 650px;
    height: 40px;
    background-color: var(--cor4);
    border: none;
    border-radius: 10px;
    color: var(--cor1);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contentcart{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
}